<div class="dialog-mis-datos">
  <div class="row titulo-row">
      <div class="col l12">
          <h5>Datos de Usuario</h5>
      </div>
  </div>
  <div class="row form-row">
      <div class="col l12 form-col">
          <div class="row">
              <form action="" class="col l12">

                  <div class="row row1">
                      <div class="col l3 marco-img-col  ">
                          <div class="row">
                              <div class="col l12">
                                  <div class="marco-img">
                                      <img src="../../../../../assets/images/default-avatar.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col l10">
                                  <input type="file" class="file" name="" id="">
                              </div>
                          </div>
                      </div>
                      <div class="col l9">
                          <div class="row">
                              <div class="col l6">
                                  <input type="text" placeholder="Nombre" class="">
                              </div>
                              <div class="col l6">
                                  <input type="text" placeholder="Apellido" class="">
                              </div>
                              <div class="col l6">
                                  <input type="text" placeholder="Dni/Cedula" class="">
                              </div>
                              <div class="col l6">
                                  <input type="text" placeholder="Telefono" class="">
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col l12">
                          <input type="text" placeholder="Direccion" class="">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col l4">
                          <input type="text" placeholder="Localidad" class="">
                      </div>
                      <div class="col l4">
                          <input type="text" placeholder="Provincia" class="">
                      </div>
                      <div class="col l4">
                          <input type="text" placeholder="Pais" class="">
                      </div>

                  </div>
                  <div class="row">
                      <div class="col l6">
                          <input type="text" placeholder="Facebook" class="">
                      </div>
                      <div class="col l6">
                          <input type="text" placeholder="Instagram" class="">
                      </div>
                  </div>

                  <div class="row button-row">
                      <div class="col l8 push-l2 ">
                          <button class="waves-effect waves-light btn red "> Guardar</button>
                      </div>
                  </div>

              </form>
          </div>

      </div>
  </div>
</div>