<div class="row fila-cabecera">
  <app-head></app-head>
</div>


<div class="cabercera">

  <div class="row row2">
      <div class="col l2 padd">
          <app-asaide-nav></app-asaide-nav>
      </div>
      <div class="col l10 ">
          <div class="contenedor">
              <div class="row">
                  <div class="col l12">
                      <h4>Seguridad</h4>

                  </div>
              </div>
              <div class="row row2">
                  <div class="col l12">
                      <h6>Seguridad de cuenta</h6>
                      <ul class="collection">

                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l2">Email</div>
                                  <div class="col l5">Nombredeusuario@gmail.com</div>
                                  <div class="col l1">
                                      <Button class="btn-floating btn-small waves-effect waves-light red pulse" (click)="seguridad()"><i class="material-icons">edit</i></Button>
                                  </div>

                                  <div class="col l1 push-l4"><i class="icon-right"></i></div>
                              </div>
                          </li>
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l2">Password/Clave</div>
                                  <div class="col l5">****************</div>
                                  <div class="col l1 push-l4"><i class="icon-right"></i></div>
                              </div>
                          </li>

                      </ul>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>