<div class="row fila-cabecera">
  <app-head></app-head>
</div>


<div class="cabercera">

  <div class="row row2">
      <div class="col l2 padd">
          <app-asaide-nav></app-asaide-nav>
      </div>
      <div class="col l10 ">
          <div class="contenedor">
              <div class="row">
                  <div class="col l12">
                      <h4>E-mails</h4>

                  </div>
              </div>

              <div class="row">
                  <div class="col l12">
                      <h6>Que email desea recibir</h6>
                      <ul class="collection">
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l5">Hicieron una pregunta en tu publicación</div>
                                  <div class="col l2 push-l5 ">
                                      <div class="switch">
                                          <label>
                                      No
                                      <input type="checkbox" checked>
                                      <span class="lever"></span>
                                      si
                                    </label>
                                      </div>
                                  </div>

                              </div>
                          </li>
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l5">Compraste un producto</div>
                                  <div class="col l2 push-l5 ">
                                      <div class="switch">
                                          <label>
                                        No
                                        <input type="checkbox" checked>
                                        <span class="lever"></span>
                                        si
                                      </label>
                                      </div>
                                  </div>

                              </div>
                          </li>
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l5">Vendiste un producto</div>
                                  <div class="col l2 push-l5 ">
                                      <div class="switch">
                                          <label>
                                      No
                                      <input type="checkbox" checked>
                                      <span class="lever"></span>
                                      si
                                    </label>
                                      </div>
                                  </div>

                              </div>
                          </li>
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l5">Te escribieron por Mensajería</div>
                                  <div class="col l2 push-l5 ">
                                      <div class="switch">
                                          <label>
                                      No
                                      <input type="checkbox" checked>
                                      <span class="lever"></span>
                                      si
                                    </label>
                                      </div>
                                  </div>

                              </div>
                          </li>
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l5">Cambios en los Términos y condiciones</div>
                                  <div class="col l2 push-l5 ">
                                      <div class="switch">
                                          <label>
                                      No
                                      <input type="checkbox" checked>
                                      <span class="lever"></span>
                                      si
                                    </label>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>