<div class="dialog-mi-tienda z-depth-5">

    <div class="row">
        <div class="row titulo-row z-depth-3">
            <div class="col l12 ">
                <h5>Mi tienda</h5>
            </div>
        </div>
        <form>
            <div class="row">

                <div class="col l3 marco-img-col  ">
                    <div class="row">
                        <div class="col l12">
                            <div class="marco-img z-depth-3">
                                <img matTooltip="Logo de la tienda" class="img" src="../../../../../assets/images/default.png" alt="">
                                <input id="inpfile" formControlName="images" type="file" class="file">
                            </div>
                            <span>Foto de perfil</span>
                        </div>
                    </div>
                </div>


                <div class="col l8 ">
                    <div class="row ">
                        <div class="col l7">
                            <input type="text" formControlName="nombre" placeholder="Nombre de la tienda" name="" id="">
                        </div>
                        <div class="col l5">
                            <input type="text" formControlName="telefono" placeholder="N° telefono" name="" id="">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col l12">
                            <input type="text" formControlName="Direccion" placeholder="direccion" name="" id="">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col l12">
                            <input type="email" formControlName="email" placeholder="Correo de la tineda" name="" id="">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col l12">
                            <input type="text" formControlName="facebook" placeholder="Facebook" name="" id="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <input type="text" formControlName="instagram" placeholder="Instagram" name="" id="">
                        </div>
                    </div>

                </div>

            </div>
            <div class="row button-row">
                <div class="col l8 push-l2">
                    <button class="waves-effect waves-light btn red pulse" type="submit">Crear tienda</button>
                </div>

            </div>
        </form>




    </div>
</div>