<div class="dialog-seguridad z-depth-4">
  <div class="row titulo-row">
      <div class="col l12">
          <h5> Configuracion de Seguridad</h5>

      </div>
  </div>

  <div class="row form-row">
      <div class="col l12">
          <div class="row ">
              <form class="col l12 ">

                  <div class="row">
                      <div class="col l10 push-l1">
                          <input type="email" formControlName="email" placeholder="Email">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col l10 push-l1">
                          <input type="password" formGroupName="pass" placeholder="Clave">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col l10 push-l1">
                          <input type="password" formControlName="cfpass" placeholder="Confirmar Clave">

                      </div>
                  </div>

                  <div class="row button-row">
                      <div class="col l8 push-l2">
                          <button class="waves-effect waves-light btn red"> Guardar</button>
                      </div>
                  </div>

              </form>
          </div>



      </div>
  </div>

</div>