<div class="asaide-nav">
  <div class="row">
      <div class="col l12">
          <div class="marco-imagen">
              <img src="../../../../assets/images/default.png" alt="">
              <div class="img-cuenta">
                  <div class="row">
                      <div class="col l4">
                          <img src="../../../../assets/images/default-avatar.png" width="100%" alt="">
                      </div>
                      <div class="col l6">
                          <h6>Usuario</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <ul class="acorh">
      <li class="item"><i class="icon-to-do-list"></i><a href="">Resumen</a></li>
      <li class="item"><i class="icon-reward"></i><a href="">Reputacion</a></li>
      <li class="item"><i class="icon-shopping"></i><a href="">Compras</a></li>
      <li>
          <i class="icon-shop"></i><a href="">Tienda </a><i class="icon-down-arrow i2"></i>
          <ul>
              <li class="item"><i class="icon-shop"></i><a href="">Mis tienda</a> </li>
              <li class="item"><i class="icon-gift"></i><a href="">Productos</a> </li>
              <li class="item"><i class="icon-hand"></i><a href="">Ventas</a> </li>
          </ul>

      </li>
      <li>
          <i class="icon-settings"></i><a href="">Confuguracion </a> <i class="icon-down-arrow i2"></i>
          <ul>
              <li class="item"><i class="icon-user"></i><a href="">Mis datos</a> </li>
              <li class="item"><i class="icon-safe"></i><a routerLink="/seguridad">Seguridad</a> </li>
              <li class="item"> <i class="icon-email"></i><a href="">Email</a> </li>
          </ul>

      </li>
      <li class="item"><i class="icon-logout"></i><a href="">Salir</a></li>
  </ul>

  <!--<div class="row">
      <div class="divider"></div>
      <div class="col l12">
          <ul class="collapsible">

              <li><i class="icon-to-do-list"></i><a href="">Resumen</a></li>
              <li><i class="icon-reward"></i><a href="">Reputacion</a></li>
              <li><i class="icon-shopping"></i><a href="">Compras</a></li>
              <li >
                  <i class="icon-shop"></i><a href="">Tienda </a><i class="icon-down-arrow i2"></i>
                 
                      <ul>
                          <li><i class="icon-shop"></i><a href="">Mis tienda</a> </li>
                          <li><i class="icon-gift"></i><a href="">Productos</a> </li>
                          <li><i class="icon-hand"></i><a href="">Ventas</a> </li>
                      </ul>
                  
              </li>
              <li>
                  <i class="icon-settings"></i><a href="">Confuguracion </a> <i class="icon-down-arrow i2"></i>
                  <ul>
                      <li><i class="icon-"></i><a href="">Mis datos</a> </li>
                      <li><i class="icon-safe"></i><a href="">Seguridad</a> </li>
                      <li><i class="icon-email"></i><a href="">Email</a> </li>
                  </ul>

              </li>
              <li><i class="icon-logout"></i><a href="">Salir</a></li>
          </ul>
      </div>

  </div>-->
</div>