<div class="row fila-cabecera">
  <app-head></app-head>
</div>


<div class="cabercera">

  <div class="row row2">
      <div class="col l2 padd">
          <app-asaide-nav></app-asaide-nav>
      </div>
      <div class="col l10 ">
          <div class="contenedor">
              <div class="row">
                  <div class="col l12">
                      <h4>Resumen</h4>

                  </div>
              </div>
              <div class="row row2">
                  <div class="col l12">
                      <h6>Preguntas</h6>
                      <ul class="collection">

                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l1"><span class=" new badge">1</span></div>
                                  <div class="col l10"><a routerLink="">Que no has respondido</a> </div>

                              </div>
                          </li>

                      </ul>
                  </div>
              </div>
              <div class="row row2">
                  <div class="col l12">
                      <h6>Publicaciones</h6>
                      <ul class="collection">
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l1"><span class="new badge">0</span></div>
                                  <div class="col l10"><a routerLink="">Activas</a> </div>

                              </div>
                          </li>
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l1"><span class="new badge">0</span></div>
                                  <div class="col l10"><a routerLink="">Inactivas</a> </div>

                              </div>
                          </li>

                      </ul>

                  </div>
              </div>

          </div>
      </div>
  </div>
</div>