<div class="row fila-cabecera">
  <app-head></app-head>
</div>


<div class="cabercera">

  <div class="row row2">
      <div class="col l2 padd">
          <app-asaide-nav></app-asaide-nav>
      </div>
      <div class="col l10 ">
          <div class="contenedor">
              <div class="row">
                  <div class="col l12">
                      <h4>Reputacion</h4>

                  </div>
              </div>
              <div class="row row2">
                  <div class="col l12">
                      <ul class="collection">
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l4 push-l4">
                                      <div class="star-rating">
                                          <a href="#">&#9733;</a>
                                          <a href="#">&#9733;</a>
                                          <a href="#">&#9733;</a>
                                          <a href="#">&#9733;</a>
                                          <a href="#">&#9733;</a>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <h6>Cantidad de votos:</h6>
              <div class="row">
                  <div class="col l12">
                      <ul class="collection">

                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l1 push-l3"><span>Positivos</span></div>
                                  <div class="col l2 push-l3"><span>1800</span></div>
                                  <div class="col l1 push-l3"><span>Negativos</span></div>
                                  <div class="col l2 push-l3"><span>1800</span></div>


                              </div>
                          </li>

                      </ul>
                  </div>
              </div>
              <h6>Comentarios:</h6>
              <div class="row row2">
                  <div class="col l12">
                      <ul class="collection">
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l4 push-l2 ">
                                      comentarios de facebook
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>

          </div>

      </div>
  </div>
</div>