<div class="row fila-cabecera">
  <app-head></app-head>
</div>

<div class="cabercera">
  <div class="row row2">
      <div class="col l2 padd">
          <app-asaide-nav></app-asaide-nav>
      </div>
      <div class="col l10 ">
          <div class="contenedor">
              <div class="row">
                  <div class="col l12">
                      <h4>Mis ventas</h4>

                  </div>
              </div>


              <div class="row info-parcial-row">
                  <div class="col l3">
                      <div class="card">
                          <div class=".col l12 info-parcial">
                              <div class="row">
                                  <div class="col l5 info-parcial-col1">
                                      <div class="etiqueta z-depth-3">
                                          <span class="icon-book"></span>
                                      </div>
                                  </div>
                                  <div class="col l7 info-parcial-col2">
                                      <p>Cantidad Ventas</p>
                                      <h5 class="in-c-p">1500</h5>
                                  </div>
                              </div>
                              <div class="divider"></div>
                              <p>Historico</p>
                          </div>
                      </div>
                  </div>
                  <div class="col l3">
                      <div class="card">
                          <div class=".col l12 info-parcial">
                              <div class="row">
                                  <div class="col l5 info-parcial-col1">
                                      <div class="etiqueta2 z-depth-3">
                                          <span class="icon-cash-register"></span>
                                      </div>
                                  </div>
                                  <div class="col l7 info-parcial-col2">
                                      <p>Ganacias</p>
                                      <h5 class="in-c-p">$ 1500,00</h5>
                                  </div>
                              </div>
                              <div class="divider"></div>
                              <p>Historico Ganado</p>
                          </div>
                      </div>
                  </div>
                  <div class="col l3">
                      <div class="card">
                          <div class=".col l12 info-parcial">
                              <div class="row">
                                  <div class="col l5 info-parcial-col1">
                                      <div class="etiqueta3 z-depth-3">
                                          <span class="icon-box"></span>
                                      </div>
                                  </div>
                                  <div class="col l7 info-parcial-col2">
                                      <p>Ganacias Men...</p>
                                      <h5 class="in-c-p">$ 1500,00</h5>
                                  </div>
                              </div>
                              <div class="divider"></div>
                              <p>Mensual Ganado</p>
                          </div>
                      </div>
                  </div>
                  <div class="col l3">
                      <div class="card">
                          <div class=".col l12 info-parcial">
                              <div class="row">
                                  <div class="col l5 info-parcial-col1">
                                      <div class="etiqueta4 z-depth-3">
                                          <span class="icon-hours"></span>
                                      </div>
                                  </div>
                                  <div class="col l7 info-parcial-col2">
                                      <p>24 hs</p>
                                      <h5 class="in-c-p">$ 1500,00</h5>
                                  </div>
                              </div>
                              <div class="divider"></div>
                              <p>Ganancia ultimas 24 hs </p>
                          </div>
                      </div>
                  </div>


              </div>

              <div class="row info-estadistca-graficos">
                  <div class="col l4">
                      <div class="card info-estadistca">
                          <div class="row">
                              <div class="col l12">
                                  <div class="col l12 ">
                                      <div class="etiqueta-grafico-lineal">


                                      </div>

                                  </div>
                              </div>
                          </div>

                          <div class="divider"></div>
                          <p>Total de ventas</p>
                      </div>
                  </div>
                  <div class="col l4">
                      <div class="card info-estadistca">
                          <div class="row">
                              <div class="col l12">
                                  <div class="col l12 ">

                                      <div class="etiqueta-grafico-lineal2">

                                      </div>

                                  </div>
                              </div>
                          </div>

                          <div class="divider"></div>
                          <p>Gancias anuales</p>
                      </div>
                  </div>
                  <div class="col l4">
                      <div class="card info-estadistca">
                          <div class="row">
                              <div class="col l12">
                                  <div class="col l12 ">

                                      <div class="etiqueta-grafico-lineal3">

                                      </div>

                                  </div>
                              </div>
                          </div>

                          <div class="divider"></div>
                          <p>Productos mas vendidos</p>
                      </div>
                  </div>




              </div>
          </div>
      </div>
  </div>
</div>