<div class="row fila-cabecera">
  <app-head></app-head>
</div>

<div class="row fila-principal">

  <div class="col l8 push-l2">
      <div class="contedor-principal ">
          <div class="row leyendas">
              <div class="col l4 ">
                  <h6>Carrito de Compras</h6>
              </div>
              <div class="col l2  centrar">
                  <span>Pre/unit</span>
              </div>
              <div class="col l2  centrar">
                  <span>Cant</span>
              </div>
              <div class="col l2 centrar">
                  <span>Eliminar</span>
              </div>
              <div class="col l2 centrar">
                  <span>Sub Total</span>
              </div>


          </div>
          <div class="contenedor-articulos">
              <div class="row fila">
                  <div class="col l1">
                      <img src="../../../../assets/images/default.png" width="150%" alt="">
                  </div>
                  <div class="col l3">
                      <div class="row cant">
                          <div class="col l12">
                              <p>aqui la descripcionffffffffff ffffffffffff fffff ffff ffffffffffffff fff fffff ffffff ffffffffff </p>
                          </div>
                      </div>

                  </div>
                  <div class="col l2">
                      <span class="valor">$ 0000,00</span>
                  </div>
                  <div class="col l2 ">
                      <div class="row cant">
                          <div class="col l6 inp">
                              <input type="number" name="" min="0" id="">
                          </div>
                      </div>
                  </div>
                  <div class="col l2">
                      <a class="btn-floating btn-small waves-effect waves-light red darken-4 "><i class="icon-bin"></i></a>
                  </div>
                  <div class="col l2 ">
                      <span class="valor">$ 0000,00</span>
                  </div>
              </div>
          </div>
          <div class="cotenedor-calculos">
              <div class="row">
                  <div class="col l4 push-l8">
                      <div class="row fila-calculo">
                          <div class="col l6">
                              <span>Sub total: </span>
                          </div>
                          <div class="col l6">
                              <span class="valor"> $ 000,00</span>
                          </div>
                      </div>
                      <div class="row fila-calculo">
                          <div class="col l6">
                              <span>IVA:</span>
                          </div>
                          <div class="col l6">
                              <span>
                                  21%
                              </span>
                          </div>
                      </div>
                      <div class="row fila-calculo">
                          <div class="col l6">
                              <span>Delivery:</span>
                          </div>
                          <div class="col l6">
                              <span class="valor"> $ 000,00</span>
                          </div>
                      </div>
                      <div class="row fila-calculo">
                          <div class="col l6">
                              <span>Total</span>
                          </div>
                          <div class="col l6">
                              <span>$ 000,00</span>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col l10 push-l1">
                              <button class="waves-effect waves-light btn red darken-4" type="submit">Confimar Pedido</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>


</div>