<div class="row">
  <div class="col l12">

      <div class="row contedor-tiendas">
          <div class="col l3">
              <!-- targeta de tineda-->
              <div class="card z-depth-3">
                  <div class="card-image">
                      <img src="../../../../assets/images/default.png" width="100%">
                      <span class="card-title">Tavena el dragon</span>
                  </div>
                  <div class="card-content">
                      <div class="row">
                          <div class="col l8 ">
                              <p>fast-food, cerveza,tere re, mate</p>
                          </div>
                          <div class="col l2 push-l1">
                              <a class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></a>

                          </div>
                      </div>

                  </div>

              </div>
              <!-- fin targeta de tineda-->
          </div>


      </div>
  </div>
</div>