<div class="row fila-cabecera">
  <app-head></app-head>
</div>


<div class="cabercera">

  <div class="row row2">
      <div class="col l2 padd">
          <app-asaide-nav></app-asaide-nav>
      </div>
      <div class="col l10 ">
          <div class="contenedor">
              <div class="row">
                  <div class="col l12">
                      <h4>Compras</h4>

                  </div>
              </div>
              <div class="row row2">
                  <div class="col l12">
                      <ul class="collection">

                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l1">
                                      <img src="../../../../assets/images/default.png" width="100%" alt="">
                                  </div>
                                  <div class="col l2 centrar">Nombredeusuario@</div>
                                  <div class="col l2 push-l1  centrar">
                                      <span>$ 100,00</span>
                                  </div>
                                  <div class="col l2 centrar">
                                      <span> x 5</span>
                                  </div>
                                  <div class="col l2 centrar">
                                      <span>$ 500,00</span>
                                  </div>
                              </div>
                          </li>


                      </ul>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>