<div class="row fila-cabecera">
  <app-head></app-head>
</div>

<div class="cabercera">
  <div class="row row2">
      <div class="col l2 padd">
          <app-asaide-nav></app-asaide-nav>
      </div>
      <div class="col l10 ">
          <div class="contenedor">
              <div class="row">
                  <div class="col l12">
                      <h4>Mis tienda</h4>

                  </div>
              </div>
              <div class="row">
                  <div class="col l12">
                      <h6>Crear tienda:</h6>
                      <ul class="collection">
                          <li class="collection-item   ">
                              <div class="row ">
                                  <div class="col l2 ">Crear Tienda</div>
                                  <div class="col l5">
                                      <a class="btn-floating btn-small waves-effect waves-light red" (click)="nueva()"><i class="material-icons">add</i></a>
                                  </div>
                                  <div class="col l1 push-l4"><i class="icon-right"></i></div>
                              </div>
                          </li>

                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col l12">
                      <h6>Agregar producto:</h6>
                      <ul class="collection">
                          <li class="collection-item   ">
                              <div class="row ">
                                  <div class="col l2 ">Agregar un producto</div>
                                  <div class="col l5">
                                      <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
                                  </div>
                                  <div class="col l1 push-l4"><i class="icon-right"></i></div>
                              </div>
                          </li>

                      </ul>
                  </div>
              </div>
              <div class="row">
                  <div class="col l12">
                      <h6>Datos de la tienda:</h6>
                      <ul class="collection">
                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l2">Nombre</div>
                                  <div class="col l5">Nombre</div>
                                  <div class="col l1 push-l4"><i class="icon-right"></i></div>
                              </div>
                          </li>

                          <li class="collection-item">
                              <div class="row">
                                  <div class="col l2">Foto Perfil</div>
                                  <div class="col l2"><img src="../../../../assets/images/default.png" width="100%" alt=""> </div>
                                  <div class="col l1 push-l7"><i class="icon-right"></i></div>
                              </div>
                          </li>


                      </ul>

                  </div>
              </div>

          </div>
      </div>
  </div>