.barra {
      background: #b71c1c;
      height: 7rem;
      width: 100%;
  }
  
  .menu-cuenta {
      margin: 0;
      justify-content: center;
      justify-items: center;
      text-align: right;
      padding-top: 0.6rem;
  }
  
  .info-tienda {
      margin: 0;
      padding: 0.7rem 0 0.4rem 0;
  }
  
  #menu-cuenta {
      top: 27rem;
  }
  
  .card-title {
      background: rgb(51, 47, 44, 0.7);
      margin-left: 1rem;
      width: 88%;
      padding: 0!important;
      margin-bottom: 1rem;
      height: 10rem;
  }
  
  .card-title span {
      font-size: 1rem;
      font-weight: 600;
  }
  
  .card-title .row {
      margin: 0;
      padding: 0;
      height: 1em;
  }
  
  .card-title .row .col {
      height: 1rem;
      margin: 0;
  }
  
  .info-tienda .row:last-child {
      margin-top: -6rem;
      padding-bottom: 2rem;
  }