<div class="barra">
  <div class="row">
      <div class="col s2  m2 l2">
          <img src="../../../../assets/images/default.png" width="60%" alt="">
      </div>
      <div class="col s2 m8 l10">
          <div class="row menu-cuenta">
              <div class="col l3 push-l9">
                  <div id="menu-cuenta">
                      <app-acount-menu></app-acount-menu>
                  </div>
              </div>
          </div>
          <div class="row info-tienda">
              <div class="col l12">
                  <div class="row">
                      <div class="col l4"><span>Tienda: </span></div>
                      <div class="col l4"><span>Telefono:  </span> </div>
                      <div class="col l4"><span>Telefono:  </span> </div>

                  </div>
                  <div class="row">
                      <div class="col l4">
                          <span>Propietario:</span>
                      </div>
                      <div class="col l4">
                          <span>Facebook:</span>
                      </div>
                      <div class="col l4">
                          <span>Instagram: </span>
                      </div>

                  </div>








              </div>
          </div>

      </div>
  </div>
</div>
<div class="row">
  <div class="col l9 push-l1">

      <div class="row contedor-productos">
          <div class="col l3">
              <!-- targeta de tineda-->
              <div class="card z-depth-3">
                  <div class="card-image">
                      <img src="../../../../assets/images/default.png" width="120%">
                      <div class="card-title z-depth-3">
                          <div class="row">
                              <div class="col l12"><span>Marca: Quilmes</span></div>

                          </div>
                          <div class="row">
                              <div class="col l12"><span>$150,00 </span></div>
                          </div>

                          <div class="row">
                              <div class="col l12">
                                  <span>stock:</span>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col l12">
                                  <span>descripcion:</span>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="card-content">

                      <div class="row">
                          <div class="col l4 push-l4">
                              <input type="number" name="" min="0" max="" id="">
                          </div>
                          <div class="col l2 push-l4">
                              <button class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></button>
                          </div>
                      </div>

                  </div>

              </div>
              <!-- fin targeta de tineda-->
          </div>


      </div>
  </div>