<div class="dialog-mis-productos">
  <div class="row titulo-row">
      <div class="col l12">
          <h5>Mis productos</h5>
      </div>
  </div>
  <div class="row form-row">
      <form action="" class="col l12">
          <div class="row">
              <div class="col 7">
                  <input type="text" placeholder="Nombre del producto / ej: six pack - hamburguesa   " name="" id="">
              </div>
              <div class="col l2">
                  <input type="text" placeholder="$" name="" id="">
              </div>
              <div class="col l2">
                  <input type="text" placeholder="Stock" name="" id="">
              </div>

          </div>
          <div class="row">
              <div class="col l12">

                  <select>
                        <option value="" disabled selected>Seleccione una tipo</option>
                        <option value="1">Alimento</option>
                        <option value="2">Bebida Alcholica</option>
                        <option value="3">Refesco</option>
                  </select>
              </div>
          </div>
          <div class="row">
              <div class="col l4">
                  <input type="file" name="" id="">
              </div>
              <div class="col l6">
                  <textarea name="" id="" cols="30" rows="5"></textarea>
              </div>
          </div>
          <div class="row button-row">
              <div class="col l8 push-l2 ">
                  <button class="waves-effect waves-light btn red "> Guardar</button>
              </div>
          </div>
      </form>
  </div>

</div>