<ul class="submenu">
    <li><a class="icon-user"> Usuario</a>
        <div class="panel z-depth-2">
            <div class="row row1">
                <div class="col l6">
                    <div class="row">
                        <div class="col l12">
                            <div class="circular">
                                <img src="../../../../assets/images/default.png" width="90%" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12">
                            <button> mi cuenta    </button>
                        </div>
                    </div>
                </div>
                <div class="col l5">
                    <ul>
                        <li><a routerLink="/misdatos">Mis Datos</a></li>
                        <li><a routerLink="/mitienda">Mi Tienda</a></li>
                        <li><a routerLink="/miscompras">Compras</a></li>
                        <li><a routerLink="/misventas">Ventas</a></li>
                        <li><a>Salir</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </li>
    <li>
        <a class="icon-notification"></a>
    </li>
    <li>
        <a class="icon-carrito-de-compras"></a>
    </li>
</ul>